@page {
  margin: 0.5in;
  @bottom-right {
    content: counter(page);
    font-size: 8pt;
    color: #999;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 9pt;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

/* Document Title */
header#title-block-header h1.title {
  font-size: 14pt;
  font-weight: 700;
  margin-bottom: 20pt;
  text-align: left;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

h2 {
  font-size: 12pt;
  font-weight: 600;
  margin-top: 20pt;
  margin-bottom: 10pt;
  border-bottom: 1px solid #f5f5f5;
}

.question-block {
  break-inside: avoid;
  margin-bottom: 15pt;
}

.question-block strong {
  display: block;
  font-size: 8pt;
  color: #888;
  margin-bottom: 3pt;
}

.writing-space {
  height: 60pt;
  margin-top: 5pt;
}

blockquote {
  margin: 0 0 0 0;
  font-style: normal;
}

.page-break {
  break-after: page;
}

/* Page Break for Solutions */
h2#solutions {
  break-before: page;
  margin-top: 0;
}